[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=bash -c "APP_HOME/OLA-TA-Klient.sh"
Icon=APP_HOME/OLA_TA_Klient_ikon.png
Name=OLA-TA-Klient
Comment=O-Ringens TA klient