[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=bash -c "APP_HOME/OLA-Teamtracker.sh"
Icon=APP_HOME/OLA_Teamtracker_ikon.png
Name=OLA-Teamtracker
Comment=Teamtracker